.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

html, body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

